@font-face{
    font-family:"pixel";
    src:url(./pixcyr2.ttf);
}

body {
    height: 100%;
    margin-top: 20px;
    font-family:"pixel";
}

body {
    background: rgba(241, 238, 238, 0.925);
    display: flex;
    align-items: center;
    justify-content: center;

}

body.active{
    background: rgba(12, 12, 12, 0.925);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

canvas {
    border: 2px solid #4bbb8a;
    background-color: rgba(184, 184, 184, 0.192);
    width: 10cm;
    height: 16cm;
    border-radius: 5px;
}

canvas.active{
    border: 2px solid #4bbb8a;
    background-color: rgba(184, 184, 184, 0.192);
    width: 10cm;
    height: 16cm;
    border-radius: 5px;
    
}

.info {
    display: inline-block;
    background-color: rgba(184, 184, 184, 0.192);
    border-width: 4px;
    border-style: double;
    border-image: initial;
    border-radius: 5px;
    border-color: #4bbb8a;
    margin: 0rem 2rem 2rem;
    padding: 2rem;

}

.arrow{
    display: flex;
    align-items: center;
    gap: 1rem;
}

span{
    background-color: rgba(70, 69, 69, 0.945);
    width: 20px;
    height: 20px;
    text-align: center;
    justify-content: center;
    color: white;
    padding: 2px;
    border-radius: 4px;
}

.space-left{
    display: inline-block;
    margin: 0rem 2rem 2rem 2rem;
    
}

.start{
    display: flex;
    justify-content: center;
    
}

#button-start {
    font-size: 30px;
    width: 140px;
    height: 50px;
    color: rgb(144, 105, 241);
    background-color: transparent;
    font-family: pixel;
    cursor: pointer;
    border-width: 4px;
    border-style: double;
    border-image: initial;
    border-radius: 20px;
    border-color: rgb(153, 112, 255);
}

.botones{
    display: inline-block;
    background-color: transparent;
    margin: 2rem 2rem 2rem 2rem;
    padding: 2rem;
    
}

.button{
    border: none;
    background-color: transparent;
    cursor:pointer;
}

.button.active{
    border: none;
    background-color: transparent;
    color: rgb(93, 6, 255);
}

.pause-play{
    display: flex;
    gap: 3rem;
    margin-bottom: 6rem;
}

#icon{
    font-size: 40px; 
    margin-left: 80px;
}

#icon-reset{
    font-size: 35px; 
}

.points{
    margin: 30px 10px 30px 20px;
    padding: 10px;
    border: rgb(255, 166, 0) 3px solid;
    height: 20px;
    width: 300px;
    border-radius: 20px;
    color: rgb(0, 140, 255);
    background-color: transparent;
}

.record{
    margin: 30px 10px 30px 20px;
    padding: 10px;
    border: rgb(0, 140, 255) 3px solid;
    height: 20px;
    width: 300px;
    border-radius: 20px;
    color: rgb(255, 166, 0);
    background-color: transparent;
}

.dark{
    margin: 40px 20px 40px 0px;
    font-size: 30px;
    border: #d58bd6 3px solid;
    border-radius: 15px;
    height: 50px;
    width: 130px;
    color: #ec72ee; 
    background-color: transparent;
    font-family:"pixel";
    cursor:pointer;
}

.light{
    margin: 40px 15px 40px 18px;
    font-size: 25px;
    border: rgb(0, 179, 185) 3px solid;
    border-radius: 15px;
    height: 50px;
    width: 130px;
    color: rgb(0, 179, 185);
    background-color: transparent;
    font-family:"pixel";
    cursor:pointer;
}
.color__subtittle__h2{
    color: #e74c3c;
    font-size: 35px;
}

.color__subtittle__h3{
    color: rgb(131, 216, 45);
    font-size: 25px;
}

.color__p{
    color: #3498db;
    font-size: 17px;
}

.color__p2{
    color: #f88825;
    font-size: 17px;
}

.color__p3{
    color: rgb(199, 45, 127);
    font-size: 17px;
}

.color__p4{
    color: rgb(214, 200, 2);
    font-size: 17px;
}
